
@colorBody: #efefef;

@colorHeader:#ffffff;
@colorMain:#ffffff;
@colorFooter:#ffffff;
@colorAside:#ffffff;


body{
  background-color:@colorBody;
}

@margin : 4px;
@padding : 8px;

@import "header.less";
@import "header.less";
@import "main.less";
@import "footer.less";
@import "aside.less";


